@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Karla', sans-serif;
}   

a{
    text-decoration:none;
}

main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .image img{
    width: 400px;
    height: 350px;

    margin-bottom: -50px;
}

.image{
 display: flex;
justify-content: center;

}

.container .btns{
    margin-top: 15%;

}
.container .btns button{
   width: 300px;
   height: 50px;
   border-radius: 12px;
   border: 3.5px solid rgb(2, 2, 75);
   margin-bottom: 20px;
   background-color: rgb(96, 160, 255);
   color: #eee;
   font-size: 18px;
}

.btns button:hover{
background-color: blue;
}

@media screen and (max-width: 768px) {

 
    .container .btns{
        margin-top:150px;
    }

    .container .btns button{
        width: 200px;
        height: 50px;
        font-size: 18px;

     }


     .image img{
        width: 280px;
        height: 250px;
        border-radius: 20px;
        margin-top: 10%;
    }
    
}